.instance-node {
    height: 24px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 24px !important;
}
.class {
    height: 12px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 12px !important;
}
.class-2 {
    height: 18px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 18px !important;
}






